@{
    ViewBag.Title = "MathML Editor using MathJax";
}
<h2>@ViewBag.Title.</h2>


<div class="row" id="editor">
    
    
</div>
    








@section scripts {
    @Scripts.Render("~/bundles/math-editor")    

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({    
        "HTML-CSS": { preferredFont: "STIX",scale: 150, linebreaks: { automatic: true }, extensions: ["handle-floats.js"] },
        SVG: { linebreaks: { automatic:true } },
        displayAlign: "left",          
            tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
            jax: ["input/MathML", "output/HTML-CSS", "output/NativeMML", "output/CommonHTML"],
            tex2jax: { inlineMath: [["$","$"],["\\(","\\)"]] },
            showMathMenu: false,
            showProcessingMessages: false,
            extensions: ["mml2jax.js", "MathMenu.js", "MathZoom.js", "CHTML-preview.js"]
        });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="~/Scripts/matheditor-lib/characterTable.js"></script>   
    <script src="~/Scripts/matheditor-lib/mathEditor.js"></script>
   

    <script type="text/javascript">   
        var math = new MathEditor(MathJax, "#editor");
        math.init();
      
        
    </script>
}

