body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Math Editor style to be moved to separate style sheet*/

#math-editor:focus{
 background-color:white;
 color:black;
    outline:none;
}
#math-editor{ 
    outline:none;   
}

.selection {   
    /*text-decoration:underline!important;
    background-color: gray;*/
    -webkit-animation: cusrsorBlink 1s infinite;
     border-right: 0px solid black!important;
}

.mphantom {       
    background-color: lightgray;
}

.toolbar { font-size:.7em}

@-webkit-keyframes cusrsorBlink {
50% { border-right:1px solid black!important; background-color:lightgray; }
}

/*End math editor stylesheet*/


